<div class="home-animation">
	<div class="home-animation__container" data-aos="fade-up">
		<img
			srcset="/img/beeconnected_intro00_150dpi.jpg 2000w,
					/img/beeconnected_intro00_100dpi.jpg 1333w,
					/img/beeconnected_intro00_48dpi.jpg 640w"
			sizes="100vw"
			src="/img/beeconnected_intro00_150dpi.jpg"
			alt="{{longTitle}}"
			class="home-animation__image">
	</div>
</div>

<script src="../js/defaultVendors~homePageAnimation.js"></script>
<script src="../js/homePageAnimation.js"></script>
