<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

		<title>{{title}}</title>

		<link rel="stylesheet" href="/css/style.css" />
		<!-- <script src="../js/defaultVendors~comPublicationsTeam~filterSelectBoxAll~filterSelectBoxInstGateCap~filterSelectBoxMult~52e7ee57.js"></script> -->
		<!-- <script src="../js/defaultVendors~comPublicationsTeam~dashboardClimate~filterSelectBoxAll~filterSelectBoxInstGateCap~fi~6014f602.js"></script> -->
		<script src="../js/defaultVendors~comPublicationsTeam~dashboardClimate~dashboardClimateFIDAIICA~filterSelectBoxAll~filt~bc4c057a.js"></script>
	</head>

	<body>
		<header class="header">
			<h1 class="header__title">BeeConnected project</h1>

			<nav class="header__nav nav">
				<ul class="nav__container">
					<li class="nav__item">
						<a class="nav__item__link" href="/">Home</a>
					</li>
				</ul>
			</nav>
		</header>

		<main>
			{{{body}}}
		</main>

		<footer class="footer">
			<p>
				This projet is funded by ICT-AGRI-FOOD.<br />
				<a href="/legal">Legal notice</a> - <a href="mailto:fabrice [dot] requier [arobase] ird [dot] fr">Contact</a>
			</p>
		</footer>
	</body>
</html>
